{% extends 'base.html' %}
{% block content %}
<main id="home">
   <h2>Get a word a day</h2>   
   <p>Enter your e-mail address below to expand your vocabulary with a new word from the dictionary everyday</p>  
   <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <input type="email" name="email" placeholder="Email">
      <input type="submit" name="submit" value="Submit">
   </form>
   <p>or <a href="{{ url_for('registration') }}">Sign up</a> for an account to store your words</p>
</main>
{% endblock %}